#root {
  display: flex;
  min-height: 100vh;
  width: 100%;
}

main {
  width: 800px;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  /* align-items: center; */
}

/* .app-description {
  max-width: 600px;
  margin: 0 auto 2rem auto;
  color: #666;
  line-height: 1.6;
  font-size: 1.1rem;
} */

.sidebar {
  flex: 1;
  background-color: #ffffff;
  min-width: 0; /* Allows flex items to shrink below their content size */
  justify-content: center;
}

/* Optional: Add some styling to distinguish the sidebars */
.sidebar:first-child {
  background-color: #ffffff;
}

.sidebar:last-child {
  background-color: #ffffff;
}

.sidebar-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
