#root {
  display: flex;
  justify-content: center;
  min-height: 100vh;
}

main {
  width: 800px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* .app-description {
  max-width: 600px;
  margin: 0 auto 2rem auto;
  color: #666;
  line-height: 1.6;
  font-size: 1.1rem;
} */

.sidebar {
  flex: 1;
  background-color: #f0f0f0;
}