version: "3.9"

services:
  backend:
    image: zeeshawnh/go-backend:latest
    container_name: go-backend
    ports:
      - "8080:8080"
    restart: unless-stopped
    env_file:
      - .env
  frontend:
    image: frontend:latest
    container_name: frontend
    build:
      context: .
      dockerfile: ./Dockerfile
    environment:
      NODE_ENV: production
    ports:
      - 3000:3000