.mapContainer {
  position: relative;
}

.mapSvg {
  width: 100%;
  height: auto;
}

.popup {
  position: absolute;
  background: white;
  border: 1px solid black;
  padding: 5px;
  pointer-events: none;
}
