name: Deploy to EC2

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    env:
      AWS_INSTANCE_SG_ID: sg-004bb859d2d034d0d

    steps:
      - name: Checkout repo
        uses: actions/checkout@v3

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v2
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: us-east-1

      - name: Get runner IP address
        id: ip
        uses: haythem/public-ip@v1.2

      - name: Whitelist runner IP address in EC2 SG
        run: |
          aws ec2 authorize-security-group-ingress \
            --group-id $AWS_INSTANCE_SG_ID \
            --protocol tcp \
            --port 22 \
            --cidr ${{ steps.ip.outputs.ip }}/32

      - name: Deploy app
        run: |
          ssh -o StrictHostKeyChecking=no ec2-user@ec2-34-206-142-143.compute-1.amazonaws.com << 'EOF'
            cd /home/ec2-user/your-app-folder
            docker-compose pull
            docker-compose down
            docker-compose up -d --remove-orphans
          EOF
        env:
          ssh-private-key: ${{ secrets.EC2_SSH_KEY }}

      - name: Revoke runner IP
        if: always()
        run: |
          aws ec2 revoke-security-group-ingress \
            --group-id $AWS_INSTANCE_SG_ID \
            --protocol tcp \
            --port 22 \
            --cidr ${{ steps.ip.outputs.ip }}/32
