name: Deploy to EC2

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    env:
      AWS_INSTANCE_SG_ID: sg-004bb859d2d034d0d

    steps:
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Log in to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.g }}

      - name: Build and push backend image
        uses: docker/build-push-action@v5
        with:
          context: ./go-backend
          file: ./go-backend/Dockerfile
          push: true
          tags: zeeshawnh/go-backend:latest

      - name: Build and push frontend image
        uses: docker/build-push-action@v5
        with:
          context: ./vite-frontend
          file: ./vite-frontend/Dockerfile
          push: true
          tags: zeeshawnh/frontend:latest

      - name: Checkout repo
        uses: actions/checkout@v3

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v2
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: us-east-1

      - name: Get runner IP address
        id: ip
        run: |
          echo "ipv4=$(curl -s https://api.ipify.org)" >> $GITHUB_OUTPUT
          echo "ipv6=$(curl -s https://api64.ipify.org)" >> $GITHUB_OUTPUT

      - name: Whitelist runner IP address in EC2 SG
        run: |
          aws ec2 authorize-security-group-ingress \
            --group-id $AWS_INSTANCE_SG_ID \
            --protocol tcp \
            --port 22 \
            --cidr ${{ steps.ip.outputs.ipv4 }}/32

      - name: Add SSH key
        run: |
          mkdir -p ~/.ssh
          echo "${{ secrets.EC2_SSH_KEY }}" > ~/.ssh/id_rsa
          chmod 600 ~/.ssh/id_rsa

      - name: Deploy app
        run: |
          ssh -i ~/.ssh/id_rsa -o StrictHostKeyChecking=no ec2-user@ec2-34-206-142-143.compute-1.amazonaws.com << 'EOF'
            cd /home/ec2-user/ElectionsApp
            docker-compose pull
            docker-compose down
            docker-compose up -d --remove-orphans
          EOF
        env:
          ssh-private-key: ${{ secrets.EC2_SSH_KEY }}

      - name: Revoke runner IP
        if: always()
        run: |
          aws ec2 revoke-security-group-ingress \
            --group-id $AWS_INSTANCE_SG_ID \
            --protocol tcp \
            --port 22 \
            --cidr ${{ steps.ip.outputs.ipv4 }}/32
